body {
  line-height: normal;
}

h4 {
  margin-top: 1rem;
}

.table {
  width: unset;
  border-color: black;
  margin-bottom: unset;
}
.table tbody tr td, .table thead tr th {
  padding: 0px;
}

.nav-tabs {
  border-color: black;
}
.nav-tabs .nav-link {
  border: var(--bs-nav-tabs-border-width) solid black;
  background-color: #f0f0f0;
  --bs-nav-tabs-border-radius: 1rem;
}
.nav-tabs .nav-link.active {
  background-color: white;
  border-color: black;
  border-bottom: 1px solid white;
  &:hover {
    border-bottom: 1px solid white;
  }
}
.nav-tabs .nav-link:hover {
  background-color: #dee2e6;
  border: 1px solid black;
}

div.filterBox {
  background-color: #f0f0f0;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
  display: flex;
}

div.filterItem {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

button.accordion-button {
  width: 1200px;
  padding: 0.5rem;
}
