body {
  line-height: normal;
}

.table {
  width: unset;
  border-color: black;
}
.table tbody tr td, .table thead tr th {
  padding: 0px;
}

button.accordion-button {
  width: 800px;
  padding: 0.5rem;

}
